a{
    text-decoration: none;
}
.nav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    position: sticky;
    top: 0;
}
.nav-section{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.nav-menu-list{
    display: none;
}
.nav-menu-list.active{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    padding-left: 0;
}
.menu-li{
    padding: 0.5rem;
}
.menu-detail-li{
    display: none;
    padding: 0.5rem;
}
.menu-detail-li.active{
    display: block;
}
@media screen and (min-width: 500px) {
    .nav{
        background-color: red;
    }
    .nav-section-icon{
        display: none;
    }

   
}